.bg {
    background-color: #325b6b !important;
    color: #fff;
}
.navbar-brand {
    color: #fff !important;
    font-size: 30px !important;
}
.nav-link {
    color: #fff !important;
    font-size: 20px !important;
}